<h1>Listing stores</h1>

<table class="table table-hover" style="text-align: center">
  <tr style="text-align: center" class="active">
    <th style="text-align: center">name</th>
    <th style="text-align: center">address</th>
    <th style="text-align: center">Actions</th>
  </tr>

  <% @stores.each do |store| %>
      <tr style="text-align: center">
        <td><%= store.name%></td>
        <td><%= store.address%></td>
        <td>
          <%= link_to store_path(store), {:class=> "btn btn-default btn-md"} do %>
              <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
          <% end %>
          <%= link_to edit_store_path(store), {:class=> "btn btn-default btn-md"} do %>
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          <% end %>
          <%= link_to store_path(store),method: :delete, :class=> "btn btn-default btn-md", data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          <% end%>
        </td>
      </tr>
  <% end %>
</table>

<%= link_to 'New Store', new_store_path,{:class => "btn btn-success" } %>